* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/************ DESKTOP *************/
.desktop-row {
  height: 100vh;
}

.desktopIcon {
  cursor: default;
}

.desktopIconLabel {
  font-size: 1rem;
  font-weight: 300;
}

/************ END DESKTOP *************/

/************** WINDOWS **************/

.title-bar-text {
  font-size: initial;
}

.titleBarButton {
  width: 19px;
}

.window {
  cursor: default;
  min-width: 300px;
  min-height: 25px;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
} 

.window::-webkit-scrollbar { 
  display: none;  
}

.title-bar-controls button[aria-label=Minimize] {
  background-position:bottom 3px left 4px;
  background-repeat:no-repeat;
  background-size: 10px 3px;
}

.title-bar-controls button[aria-label=Maximize], .title-bar-controls button[aria-label=Restore], .title-bar-controls button[aria-label=Close] {
  background-position: center;
  background-repeat:no-repeat;
  background-size: 11px 11px;
}

/* .window-body {
  height: inherit;
} */

/************ TASKBAR *************/

.taskbar {
  padding: 2px;
  box-shadow: inset 1px 0 #fff;
  background-color: #C0C0C0;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #4e4e4e;
  z-index: 99999999;
  height: 35px;
}

.taskbarLeft, .taskbarRight, .taskbarTab {
  height: 100%;
}

.taskbarTab {
  width: 15%;
  font-weight: 500;
}

/************ END TASKBAR *************/

/************* START MENU *************/

.dropup, .dropdown-toggle {
  height: 100%;
}

/************ END START MENU **********/

/***********  TETRIS  *************/

.tetrisApp {
  text-align: center;
  color: white;
  background-color: purple;
  height: calc(100% - 25px);
  overflow: hidden;
}

.tetrisGame {
  height: 100%;
}

.tetrisStartButton {
  font-size: 2rem;
}

.tetrisMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.tetrisBoardCell {
  width: auto;
}

.tetrisWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.tetrisRow {
  width: 100%;
  height: 100%;
}

.tetrisBoard {
  display: grid;
  grid-gap: 2px;
  min-width: 20vw;
  min-height: 40vw;
  background: rgb(32, 0, 64);
  position: relative;
  border: 3px solid black;
  border-radius: 5px;
}

.tetrisGameStats {
  list-style-type: none;
  font-size: 1.2rem;
  text-align: right;
  font-weight: bold;
  color: black;
}

.tetrisPreview {
  background: rgba(0, 0, 0, 0.1);
  border: 10px solid rgba(0, 0, 0, 0);
}

.tetrisPreviewBoard {
  display: grid;
  gap: 2px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 11vh;
  height: 11vh;
}

.tetrisGameController {
  position: absolute;
  top: -100em;
}

.tetromino.ghost {
  opacity: 0;
}

.tetromino__i {
  background-color: rgba(80, 227, 230, 1);
}

.tetromino__j {
  background-color: rgba(36, 95, 223, 1);
}

.tetromino__l {
  background-color: orangered;
}

.tetromino__o {
  background-color: rgba(223, 217, 36, 1);
}

.tetromino__s {
  background-color: rgba(48, 211, 56, 1);
}

.tetromino__t {
  background-color: rgba(132, 61, 198, 1);
}

.tetromino__z {
  background-color: red;
}

.tetromino_ghost {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

/********************END TETRIS *****************/

/******************** HOVER *********************/

.hoverBody {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: black;
  color: white;
  height: calc(100% - 25px);
}

.hoverText {
  position: absolute;
  font-size: 2rem;
}

.hoverLoader {
  position: relative;
  width: 300px;
  height: 300px;
}

.hoverLoader span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(16deg * var(--i)));
}

.hoverLoader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: transparent;
  
  
  box-shadow:
  -30px -30px 0px #00efff,
  -30px -30px 20px #00efff,
  30px 30px 0px #00efff,
  30px 30px 20px #00efff,
  30px -30px 0px #00efff,
  30px -30px 20px #00efff,
  -30px 30px 0px #00efff,
  -30px 30px 20px #00efff;

  animation: animate 2s linear infinite;
  animation-delay: calc(-.25s * var(--i));
  transform-origin: 1px;
  transition: 2s;
}

.hoverLoader:hover span::before {
  transform-origin: 250px;

  box-shadow:
  -200px -200px 0px #00efff,
  -200px -200px 20px #00efff,
  200px 200px 0px #00efff,
  200px 200px 20px #00efff,
  200px -200px 0px #00efff,
  200px -200px 20px #00efff,
  -200px 200px 0px #00efff,
  -200px 200px 20px #00efff;
}

@keyframes animate {
  0% {
      transform: rotate(0deg);
      filter: hue-rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
      filter: hue-rotate(360deg);
  }
}

/******************** END HOVER *****************/

/***************** VIDEO PLAYER *****************/

.videoFrame {
  height: 70vh;
}

/**************** END VIDEO PLAYER *****************/

/***************** CHAT APP *****************/

.chatContainer {
  overflow-y: scroll;
}

/***************** END CHAT APP *****************/


/***********  SIZING UTILITY CLASSES ************/

